.Modal {
  top: calc(50% - 20em);
  bottom: auto;
  left: calc(50% - 20em);
  width: min(40em, 90vw);
  position: fixed;
}

@media (prefers-color-scheme: dark) {
  .Modal {
    background-color: hsla(0, 0%, 15%, 1);
  }

  .Overlay {
    background-color: rgba(32, 32, 32, .75);
  }
}
