@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Libertinus Sans';
  src: url('fonts/LibertinusSans-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Libertinus Sans';
  src: url('fonts/LibertinusSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Libertinus Sans';
  src: url('fonts/LibertinusSans-Italic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Libertinus Serif';
  src: url('fonts/LibertinusSerif-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Libertinus Serif';
  src: url('fonts/LibertinusSerif-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Libertinus Serif';
  src: url('fonts/LibertinusSerif-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Libertinus Serif';
  src: url('fonts/LibertinusSerif-Italic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Libertinus Serif';
  src: url('fonts/LibertinusSerif-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Libertinus Serif';
  src: url('fonts/LibertinusSerif-SemiboldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Libertinus Mono';
  src: url('fonts/LibertinusMono-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka Custom';
  src: url('fonts/iosevka-custom-regular.woff2') format('woff2');
  font-display: swap;
}
