#vg-tooltip-element table tr td.key {
  color: unset;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  #vg-tooltip-element {
    background-color: #333;
    border: none;
    color: white;
    font-family: "Libertinus Sans", ui-sans-serif, sans-serif;
    font-size: 16px;
    line-height: 16px;
  }
}
